* {
  box-sizing: border-box;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form_fields_wrapper {
  border: 1px solid var(--bg-grey);
  background: #EEEEEE;
  border-radius: 3px;
  padding: 4px 10px;
  margin-top: 3rem;
}

.name_label {
  margin-bottom: 1em;
  font-size: 00.8rem;
  text-transform: uppercase;
  text-align: start;
  font-weight: 600;
  color: var(--bg-primary) !important;
}
.label_field {
  margin-bottom: 1.5rem !important;
}

.spacing {
  margin-top: 20%;
}

.error {
  font-size: 13px;
  color: red;
  font-weight: bolder;
  margin-top: -10px;
}

.loading {
  font-size: 13px;
  font-weight: bolder;
  margin-top: -10px;
}

.form_wrapper {
  margin: 2% 0%;
  line-height: 2rem;
  height: 54vh;
  text-align: center;
}

.form_fields_padding {
  margin: 5px auto;
  width: 38vw;
  max-width: 323px;
}

.heading {
  font-size: 1rem;
  text-align: center;
  font-weight: 600;
  
}

.form-group {
  text-align: left;
}

.subHeading {
  font-size: 0.75rem;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
}

mat-form-field {
  width: 100%;
  height: 100%;
  font-size: 12px;
}

.pinkBg {
  background-color: #66BB6A;
}
.whiteText {
  color: white;
}

.boldText {
  font-weight: 500;
}

.pinkText {
  color: #fe528d;
}

button {
  width: 100%;
}

#timer {
  text-align: center;
  padding: 8px;
  visibility: hidden;
}
.stepsLink {
  margin-top: 0px;
  text-align: center;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
  color: lightgrey;
}

::ng-deep .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
  color: lightgrey;
  border-bottom: 2px solid #22a8c9;
  border-bottom-left-radius: 1px;
  border-bottom-right-radius: 1px;
}
/* ::ng-deep.mat-form-field-wrapper {
  padding-bottom: 0.5em !important;
} */
::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
  color: white !important;
}

@media (max-width: 500px) {
  .form_fields_padding {
    margin-left: 16%;
  }
}
.captcha{
  padding-bottom: 10px !important;
  transform: scale(0.8);
}
::ng-deep.mat-input-element {
  padding-top: 5px !important;
  height: 20px;
}
::ng-deep.mat-select-value {
  padding: 5px !important;
}